    <!-- BEGIN: Content -->
    <div class="md:max-w-auto min-h-screen min-w-0 max-w-full flex-1 rounded-[1.3rem] bg-slate-100 px-4 pb-10 shadow-sm before:block before:h-px before:w-full before:content-[''] dark:bg-darkmode-700 md:px-[22px]">
        <div class="intro-y mt-8 flex items-center">
            <h2 class="mr-auto text-lg font-medium">Profile Layout</h2>
        </div>
         <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi labore ipsa porro ex necessitatibus perspiciatis cumque voluptate recusandae consequatur saepe dolore voluptatum incidunt quaerat natus, modi reprehen derit assum enda. At, aut.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Content -->