<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>



<!--
 
18_05_2025    --- Night TASK 8PM to 10PM
  1. hum token haai to usme se role ko validate karnge aur header, dashboard, footer ko enable karngen otherwise ni
     by default Signin component hoga. authrized user ko hi dashboard par redirect hoga. 
  2.  - - - aur local/session me storge hoga.

19_05_2025    --- @input decorator k base par value change hoga from JSON.
- project
- blog
- gallery
- team
- Event

20_05_2025 
- CRED API on the basies ag JSON

-->